<div class="collaborate">
    <div class="container">
        <div class="head-square head-square--collaborate">1</div>
        <h2 class="collaborate__header header--left">Collaborate Realtime</h2>
        <h3 class="collaborate__subheader subheader--left">Audio player software is used to play back sound recordings in one of the many formats available for computers today. It can also play back music CDs. There is audio player </h3>
        <ul class="collaborate__list collaborate__list--left">
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Project team, quests</a>
            </li>
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Review result. Gist help</a>
            </li>
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Real time messaging, file sharing, supporting one-to-one and group conversations</a>
            </li>
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Roles & Competency</a>
            </li>
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Powerful search and archiving, meaning no one is ever left out of the loop</a>
            </li>
        </ul>
        <ul class="collaborate__list collaborate__list--right">
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Reverse git service</a>
            </li>
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Review result. Gist help</a>
            </li>
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Inline multi-media preview and link context preview for a pleasant content viewing .</a>
            </li>
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Chat meetings.</a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>