<div class="footer">
    <div class="container">
        <div class="footer-wrapp">
            <div class="footer__ready">Ready to get started?</div><br>
            <div class="footer__signup">Sign-up for the closed beta.</div>
            
            <button class="footer__button">check in</button>
            <input type="email" name="" id="" class="footer__input" placeholder="Email">
        </div>
        <a href="" class="footer__lang footer__lang--en active-lang">en</a>
        <a href="" class="footer__lang footer__lang--ru">ru</a>
        <ul class="footer__socials">
            <li class="footer__social "><a href="" class="social__link social--fb"></a></li>
            <li class="footer__social "><a href="" class="social__link social--tw"></a></li>
            <li class="footer__social "><a href="" class="social__link social--you"></a></li>
        </ul>
        <div class="footer__logo-text"></div>
    </div>
</div>
