<div class="plan">
    <div class="container">
        <div class="head-square head-square--plan">2</div>
        <h2 class="plan__header header--right">Product plan.</h2>
        <h3 class="plan__subheader subheader--right">It’s a visual collaboration tool that creates a shared perspective on any project. Trello’s boards, lists, and cards enable you to organize and prioritize your personal and work life in a fun, flexible, and rewarding way. </h3>

        <ul class="plan__list plan__list--left">
            <li class="plan__list-item">
                <a href="" class="plan__link">Requirements table</a>
            </li>
            <li class="plan__list-item">
                <a href="" class="plan__link">Review result. Gist help</a>
            </li>
            <li class="plan__list-item">
                <a href="" class="plan__link">lan your product roadmap and launches across marketing, engineering, support, and sales.</a>
            </li>
            <li class="plan__list-item">
                <a href="" class="plan__link">Roles & Competency</a>
            </li>
            <li class="plan__list-item">
                <a href="" class="plan__link">Ever wish you could add story points, components, priorities, or any other extra field to GitHub issues</a>
            </li>
        </ul>
        <ul class="plan__list plan__list--right">
            <li class="plan__list-item">
                <a href="" class="plan__link">Reverse git service</a>
            </li>
            <li class="plan__list-item">
                <a href="" class="plan__link">Change managment</a>
            </li>
            <li class="plan__list-item">
                <a href="" class="plan__link">We divide up your tests intelligently based on average execution time and run an even workload on multiple containers in parallel.</a>
            </li>
            <li class="plan__list-item">
                <a href="" class="plan__link">UX scenarios. Documentation</a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>