<div class="problem">
    <div class="container">
        <h2 class="problem__header">PROBLEMS THAT WE SOLVE</h2>
        <h3 class="problem__subheader">Audio player software is used to play back sound recordings in one of the many formats available for computers today. It can also play back music CDs. There is audio player </h3>
        <div class="problem__item problem__item--item1">
            <h4 class="post__header">Upgrading To Microsoft Windows Vista Tips</h4>
            <p class="post__text">Audio player software is used to play back sound recordings in one of the many formats available for computers today. It can also play . </p>
            <h4 class="post__header">Addiction When Gambling Becomes A Problem</h4>
            <p class="post__text">Audio player software is used to play back sound recordings in one of the many formats available for computers today. It can also play bac. </p>
            <h4 class="post__header">How To Meet That Special Someone</h4>
            <p class="post__text">Audio player software is used to play back sound recordings in one of the many formats available for computers today.  </p>
        </div>
        <div class="problem__item problem__item--item2">
            <h4 class="post__header">Where Can You Find Unique Myspace Layouts Nowadays</h4>
            <p class="post__text">Audio player software is used to play back sound recordings in one of the many formats available for computers today. It can also.</p>
            <h4 class="post__header">Thousands Now Adware Removal Who Never Thought They Could</h4>
            <p class="post__text">Sounds pretty obvious. But many people don’t realize they don’t need the fastest, most expensive computer with the most “extras”. In fact.</p>
            <h4 class="post__header">Microsoft Patch Management For Home Users</h4>
            <p class="post__text">Audio player software is used to play back sound recordings in one of the many formats available for computers today. It can also play back music CDs. There is audio player </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>