<div class="collaborate">
    <div class="container">
        <div class="head-square head-square--project"></div>
        <h2 class="project__header header--left">Project plan & reporting</h2>
        <h3 class="collaborate__subheader subheader--left">Audio player software is used to play back sound recordings in one of the many formats available for computers today. It can also play back music CDs. There is audio player </h3>
        <ul class="collaborate__list collaborate__list--left">
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Realization strategy & management </a>
            </li>
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Scrum sprints planning</a>
            </li>
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Time sheets.</a>
            </li>
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Roles & Competency</a>
            </li>
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Powerful search and archiving, meaning no one is ever left out of the loop</a>
            </li>
        </ul>
        <ul class="collaborate__list collaborate__list--right">
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Milestones with linked Features</a>
            </li>
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Risk management</a>
            </li>
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Completion progress, productivity </a>
            </li>
            <li class="collaborate__list-item">
                <a href="" class="collaborate__link">Chat meetings.</a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>