@import "_variables";
@import "_utils";


.head-square--project {
    left: 24px;
    top: 194px;
    color: #04E271;
    background-image: url(../img/square3.png);
}
.project__header {
    padding-top: 225px;
}